body, html {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(key.jpg);
    background-size: cover;
    color: #fff;
}
h1 {
    font-size: 40px;
    font-weight: bold;
    background-color: #000;
    border-radius: 5px;
    max-width: 300px;
    padding: 20px;
}
p {
    font-size: 25px;
    background-color: #000;
    max-width: 650px;
    padding: 20px;
    border-radius: 5px;
}
#button {
    margin-left: 50px;
    width: 100px;
    height: auto;
    cursor: pointer;

}
